{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/statistics.css' %}">
<link rel="stylesheet" href="{% static 'styles/back_button.css' %}">
{% endblock %}

{% block title %}Statistics{% endblock %}

{% block return %}
<a href="{% url 'menu' %}" class="back-link">
    <button class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7 12L15 4L17.2 6.1L11.3 12L17.2 17.9L15 20L7 12Z" fill="#1C2E45" fill-opacity="0.6"/>
        </svg>
        Back
    </button>
</a>
{% endblock %}

{% block content %}

<h1>Statistics</h1>

<div class="statistic-container">
    <h2>Number of Patients by Age Range</h2>
    <img src="data:image/png;base64,{{ graphAges }}" class="img-fluid">
</div>

<div class="statistic-container">
    <h2>Number of Patients by Gender</h2>
    <img src="data:image/png;base64,{{ graphGender }}" class="img-fluid">
</div>

<div class="statistic-container">
    <h2>Number of Patients by Health Insurance</h2>
    <img src="data:image/png;base64,{{ graphInsurance }}" class="img-fluid">
</div>

<div class="statistic-container">
    <h2>Number of Exams by Date</h2>
    <form id="filter-form">
        <label for="filter">Select a time range:</label>
        <select name="filter" id="filter" class="form-select" onchange="updateGraph()">
            <option value="today" data-graph="data:image/png;base64,{{ graphToday }}" selected>Today</option>
            <option value="last_7_days" data-graph="data:image/png;base64,{{ graphLastSevenDays }}">Last Seven Days</option>
            <option value="last_month" data-graph="data:image/png;base64,{{ graphLastMonth }}">Last Month</option>
            <option value="this_year" data-graph="data:image/png;base64,{{ graphThisYear }}">This Year</option>
            <option value="all_years" data-graph="data:image/png;base64,{{ graphAllYears }}">All Years</option>
        </select>
    </form>
    
    <img id="graph-image" src="data:image/png;base64,{{ graphToday }}" class="img-fluid">
</div>

<script>
    window.onload = function() {
        const selectElement = document.getElementById('filter');
        selectElement.value = 'today';
        updateGraph();
    };

    function updateGraph() {
        const selectElement = document.getElementById('filter');
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const graphImage = selectedOption.getAttribute('data-graph');
        
        document.getElementById('graph-image').src = graphImage;
    }
</script>
{% endblock %}