{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/admin.css' %}">
<link rel="stylesheet" href="{% static 'styles/back_button.css' %}">
<link rel="stylesheet" href="{% static 'styles/modal.css' %}">
{% endblock %}

{% block title %}Mediflow - Administrator{% endblock %}

{% block return %}
<a href="{% url 'menu' %}" class="back-link">
    <button class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7 12L15 4L17.2 6.1L11.3 12L17.2 17.9L15 20L7 12Z" fill="#1C2E45" fill-opacity="0.6"/>
        </svg>
        Back
    </button>
</a>
{% endblock %}

{% block content %}

{% if messages %}
<div class="messages alert-{{ message.tags }}">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<!-- Toggle Tables -->
<div class="toggle-container">
    <button class="toggle-btn toggle-doctor active" onclick="toggleSwitch('doctor')">Ophthalmologists</button>
    <button class="toggle-btn toggle-patient" onclick="toggleSwitch('patient')">Patients</button>
</div>

<!-- Ophthalmologist's Table -->
<div class="table-container doctor-table">
    <form class="search-container">
        <h1>Ophthalmologists</h1>
        <div class="search-bar">
            <p>Search:</p>
            <input type="text" name="searchDoctor" value="{{ request.GET.searchDoctor }}">
        </div>
    </form>

    <table class="doctor-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Medical License</th>
                <th>Specialty</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in page_doctors %}
            <tr>
                <td>{{ doctor.name }} {{ doctor.last_name }}</td>
                <td>{{ doctor.medical_license }}</td>
                <td>{{ doctor.specialty }}</td>
                <td>{{ doctor.email }}</td>
                <td>
                    <a href="{% url 'edit_ophthalmologist' doctor.medical_license %}">
                        <button class="edit-btn">
                            Edit
                        </button>
                    </a>
                    <button type="button" class="delete-btn" onclick="openDoctorModal('{{ doctor.medical_license }}', '{{ doctor.name }}', '{{ doctor.last_name }}')">
                        Delete
                    </button>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No ophthalmologists have been registered</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
    
    <div class="pagination">
        <div class="previous">
            {% if page_doctors.has_previous %}
            <a href="?page=1" class="first-link">&laquo; First</a>
            <a href="?page={{ page_doctors.previous_page_number }}" class="next-link">Previous</a>
            {% endif %}
        </div>
        

        <div class="current">
            <p>Page {{ page_doctors.number }} of {{ page_doctors.paginator.num_pages }}</p>
        </div>

        <div class="next">
            {% if page_doctors.has_next %}
            <a href="?page={{ page_doctors.next_page_number }}" class="next-link">Next</a>
            <a href="?page={{ page_doctors.paginator.num_pages }}" class="last-link">Last &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>

<div id="confirmDeleteDoctorModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Confirm Deletion</h2>
        <p id="modalMessage">Are you sure you want to delete the ophthalmologist?</p>
        <div class="modal-footer">
            <button type="button" class="cancel-btn" onclick="closeModal()">Cancel</button>
            <form id="deleteForm" method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="confirm-btn">Confirm</button>
            </form>
        </div>
    </div>
</div>


<!-- Patients Table -->
<div class="table-container patient-table hidden">
    <form class="search-container">
        <h1>Patients</h1>
        <div class="search-bar">
            <p>Search:</p>
            <input type="text" name="searchPatient" value="{{ request.GET.searchPatient }}">
        </div>
    </form>

    <table class="patient-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Date of Test Result</th>
                <th>Test File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in page_patients %}
            <tr>
                <td>{{ patient.name }} {{ patient.last_name }}</td>
                <td>{{ patient.identification }}</td>

                {% for file in files %}
                {% if file.patient.identification == patient.identification %}
                    <td>{{ file.exam_date }}</td>
                    <td>
                        <a target="_blank" href="{{ file.file.url }}">
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z" />
                            </svg>
                        </a>
                    </td>
                {% endif %}
                {% empty %}
                    <td></td>
                    <td></td>
                {% endfor %}
                
                <td>
                    <a href="{% url 'edit_patient' patient.identification %}">
                        <button class="edit-btn">
                            Edit
                        </button>
                    </a>

                    <button type="button" class="delete-btn" onclick="openPatientModal('{{ patient.identification }}', '{{ patient.name }}', '{{ patient.last_name }}')">
                        Delete
                    </button>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No patients have been registered</td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
    
    <div class="pagination">
        <div class="previous">
            {% if page_patients.has_previous %}
            <a href="?page=1" class="first-link">&laquo; First</a>
            <a href="?page={{ page_patients.previous_page_number }}" class="next-link">Previous</a>
            {% endif %}
        </div>
        

        <div class="current">
            <p>Page {{ page_patients.number }} of {{ page_patients.paginator.num_pages }}</p>
        </div>

        <div class="next">
            {% if page_patients.has_next %}
            <a href="?page={{ page_patients.next_page_number }}" class="next-link">Next</a>
            <a href="?page={{ page_patients.paginator.num_pages }}" class="last-link">Last &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>

<div id="confirmDeletePatientModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Confirm Deletion</h2>
        <p id="modalMessage">Are you sure you want to delete the patient?</p>
        <div class="modal-footer">
            <button type="button" class="cancel-btn" onclick="closeModal()">Cancel</button>
            <form id="deleteForm" method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="confirm-btn">Confirm</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const messages = document.querySelectorAll('.messages .alert');
        
        messages.forEach(function(message) {
            setTimeout(function() {
                message.style.transition = "opacity 1s";
                message.style.opacity = 0;
                setTimeout(function() {
                    message.style.display = "none";
                }, 1000);
            }, 2500);
        });

        const doctorButton = document.querySelector('.toggle-doctor');
        const patientButton = document.querySelector('.toggle-patient');
        const doctorTable = document.querySelector('.doctor-table');
        const patientTable = document.querySelector('.patient-table');

        doctorButton.classList.add('active');
        patientButton.classList.remove('active');
        doctorTable.classList.remove('hidden');
        patientTable.classList.add('hidden');
    });

    function toggleSwitch(state) {
        const doctorButton = document.querySelector('.toggle-doctor');
        const patientButton = document.querySelector('.toggle-patient');
        const doctorTable = document.querySelector('.doctor-table');
        const patientTable = document.querySelector('.patient-table');

        doctorTable.classList.add('hidden');
        patientTable.classList.add('hidden');

        if (state === 'doctor') {
            doctorButton.classList.add('active');
            patientButton.classList.remove('active');

            doctorTable.classList.add('active');
            patientTable.classList.remove('active');

            setTimeout(() => {
                doctorTable.classList.remove('hidden');
            }, 300);
        } else if (state === 'patient') {
            patientButton.classList.add('active');
            doctorButton.classList.remove('active');

            patientTable.classList.add('active');
            doctorTable.classList.remove('active');

            setTimeout(() => {
                patientTable.classList.remove('hidden');
            }, 100);
        }
    }

    function openDoctorModal(medicalLicense, firstName, lastName) {
        const modalMessage = document.getElementById('modalMessage');
        modalMessage.innerHTML = `Are you sure you want to delete the ophthalmologist ${firstName} ${lastName} with medical license ${medicalLicense}?`;

        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = "{% url 'delete_ophthalmologist' 'placeholder' %}".replace('placeholder', medicalLicense);

        document.getElementById('confirmDeleteDoctorModal').style.display = "block";
    }

    function openPatientModal(identification, firstName, lastName) {
        const modalMessage = document.getElementById('modalMessage');
        modalMessage.innerHTML = `Are you sure you want to delete the patient ${firstName} ${lastName} with identification ${identification}?`;

        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = "{% url 'delete_patient' 'placeholder' %}".replace('placeholder', identification);

        document.getElementById('confirmDeleteDoctorModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('confirmDeletePatientModal').style.display = "none";
        document.getElementById('confirmDeleteDoctorModal').style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == document.getElementById('confirmDeleteModal')) {
            closeModal();
        }
    }
</script>
{% endblock %}