{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/create_user.css' %}">
<link rel="stylesheet" href="{% static 'styles/back_button.css' %}">
<link rel="stylesheet" href="{% static 'styles/modal.css' %}">
{% endblock %}

{% block title %}Create User{% endblock %}

{% block return %}
<a href="{% url 'menu' %}" class="back-link">
    <button class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7 12L15 4L17.2 6.1L11.3 12L17.2 17.9L15 20L7 12Z" fill="#1C2E45" fill-opacity="0.6"/>
        </svg>
        Back
    </button>
</a>
{% endblock %}

{% block content %}

<h1>Create Administrator User</h1>

<div class="form-wrapper">
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-container">
                <button type="submit" class="save-btn">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}