main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 1000px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.30);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 20px;
    padding-bottom: 20px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-btn{
    width: 90%;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #4a5a89;
    color: #eeeded;
    cursor: pointer;
}

.save-btn:hover{
    background-color: #262d40;
    transition: background-color 0.3s;
}

form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form p label {
    width: 90%;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

form p input,
form p select,
form p textarea {
    width: 90%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(143, 143, 143);
    padding: 5px;
    margin-bottom: 10px;
}

form p input{
    font-family: "Roboto", sans-serif, "Arial";
}

form p input:focus,
form p select:focus{
    border: 1px solid #4a5a89;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

form p select{
    width: 93%;
    height: 37px;
}

form p select option{
    padding: 10px;
    background-color: #ffffff;
    color: #252525;
    border-radius: 20px;
}